div.Cell {
    min-width: 9vh;
    min-height: 9vh;
    float: left;
    background-color: #D3D3D3;
    color: #000000;
}

div.Board.odd div.row:nth-child(2n) div.Cell:nth-child(2n+1),
div.Board.odd div.row:nth-child(2n+1) div.Cell:nth-child(2n),
div.Board.even div.row:nth-child(2n) div.Cell:nth-child(2n),
div.Board.even div.row:nth-child(2n+1) div.Cell:nth-child(2n+1){
    background-color: #F5F5F5;
    color: #000000;
}

