.pencilRow {
    width: 9vh;
    height: 3vh;
}

div.PencilBoard.unsolved div.pencilCell {
    width: 3vh;
    height: 3vh;
    float: left;
}

div.PencilBoard.solved div.pencilCell {
    width: 9vh;
    height: 9vh;
    font-size: 8vh;
    text-align: center;
    line-height: 9vh;
}

div.PencilBoard {
    cursor: pointer;
}

div.pencilCell:hover {
    background-color: #00CCFF;
    color: #000000;
}