.pencilRow {
    width: 9vh;
    height: 3vh;
}

div.PencilBoard.unsolved div.pencilCell {
    width: 3vh;
    height: 3vh;
    float: left;
}

div.PencilBoard.solved div.pencilCell {
    width: 9vh;
    height: 9vh;
    font-size: 7vh;
}

div.PencilBoard {
    cursor: default;
}

div.pencilCell:hover {
    background-color: #FFFFFF;
    color: #000000;
}